.desc__address-value {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #525252;
    width: 80%;
    margin: auto;
    margin-bottom: 41px;
}