.item__count_plus {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-right: 10px;
    text-decoration: none;
}