.title {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    margin-top: 112px;
    margin-bottom: 184px;
}

.empty-cart {
    font-family: gugi;
    font-size: 30px;
}