.desc__address-title {
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    width: 80%;
    margin: auto;
    margin-bottom: 12px;
}